* {
    margin: 0;
    padding: 0;
    color: tan;
    text-shadow: 0 1px white;
}

.container {
    min-width: 950px;
    min-height: 780px;
    width: 90vw;
    height: 90vh;
    border: 10px solid black;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    background: rgb(64, 27, 8);
    padding-right: 15px;
  }

/* LEFT SIDEBAR*/

.sidebar {
    background-image: url("https://cdn.tutsplus.com/cdn-cgi/image/width=600/psd/uploads/legacy/0538_Seamless_Wood/final.jpg");
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

.nav {
    padding-left: 25px;
    padding-top: 25px;
}

.nav a {
    text-decoration: none;
}

.nav ul {
    list-style: none;
    margin-top: 15px;
}

.owned li,
.saved li {
    padding-top: 10px;
}

.owned li:hover,
.saved li:hover {
    background-color: rgb(116, 20, 20);
}


/* RIGHT SIDEBAR DISPLAY AND ADD NEW BOOK */

.sidebar:last-child {
    padding: 20px;
    border: 1px solid white;
  }
  
  .sidebar:last-child div {
    border: 2px solid red;
  }

.display, .addBook {
    text-align: center;
  }
  
  .sidebar img {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin: 10px;
  }
  
  input {
    width: 80%;
    margin: 5px;
    background: brown;
    color: white;
    text-shadow: none;
  }
  
  button {
    color: black;
    background: linear-gradient(tan, brown);
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    text-shadow: none;
  }

/* HEADER, BOOKSHELF, AND FOOTER */

.header {
    background-image: url("https://cdn.tutsplus.com/cdn-cgi/image/width=600/psd/uploads/legacy/0538_Seamless_Wood/final.jpg");
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    justify-items: end;
    align-items: center;
    padding-right: 15px;
}

.view,
.sort,
.navigate {
    border: 1px solid black;
}

.bookshelf {
    min-width: 500px;
    grid-row: 2/3;
    background-image: repeating-linear-gradient(to bottom,
            rgb(64, 27, 8) 0%,
            /* top of shelf, darker */
            rgb(148, 93, 57) 9%,
            /* middle of shelf */
            rgb(104, 59, 37) 35%
            /* bottom of shelf, lighter */
        );
    box-shadow: inset 0px 8px 15px 10px rgba(0, 0, 0, 0.45);
    background-attachment: scroll;
    /*  --spacing: 3rem;
    line-height: var(--spacing);
    background-image: repeating-linear-gradient(
      brown 0px var(--spacing),
      blue 0px calc(var(--spacing) * 5)
    );*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    overflow: auto;
    place-items: center;
    padding: 0px 2em;
}


.book {
    margin-top: 50px;
    margin-left: 15px;
    width: 4rem;
    height: 6rem;
    text-align: center;
    background-color: brown;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 4px;
    border-bottom: 7px solid white;
    border-left: 10px outset #852222;
    box-shadow: 2px 2px 3px black;
    padding: 10px 5px;

    transition: all .2s ease-in-out; 
}

.book:hover {
    transform: scale(1.5) skew(5deg, 0deg);
}

.footer {
    background-image: url("https://cdn.tutsplus.com/cdn-cgi/image/width=600/psd/uploads/legacy/0538_Seamless_Wood/final.jpg");
    background-repeat: repeat-x;
    grid-row: 3 / 4;
    display: grid;
    place-content: center;
    border-top: 10px outset rgba(167, 114, 78, 0.45);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -5px;
}

.footer,
.sidebar,
.header,
.bookshelf {
    /*border: 1px solid white;*/
}