* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90vw;
    height: 90vh;
    border: 10px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr 1fr;
}

/* SIDEBAR TEXT AND LINKS */

.sidebar {
    background-color: red;
    border: 1px solid white;
    grid-row: 1/4;
}

.nav {
    padding: 15px;    
}

.nav ul {
    list-style: none;
    margin-top: 15px;
}

.owned li, .saved li {
    padding-top: 10px;
}

/* HEADER, BOOKSHELF, AND FOOTER */

.header {
    background-color: blue;
    border: 1px solid white;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    justify-items: end;
    align-items: center;
    padding-right: 15px;
}

.view, .sort, .navigate {
    border: 1px solid black;
}


.bookshelf {
    grid-row: 2/3;
    background-color: green;
    border: 1px solid white;
    /*display: flex;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    overflow: auto;
}

.book {
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
    width: 4rem;
    height: 6rem;
}

.footer {
    background-color: orange;
    border: 1px solid white;
    grid-row: 3 / 4;
}